@charset "UTF-8";

@media screen and ( max-width: 620px){
    header, header > nav {
        flex-flow: column nowrap;
    }

    header > h1 {
    flex-basis: 50px;
    }

    .icon {
        display: block;
        background-color: black;
        width: 90vw;
        text-align: center;
        padding: 5px;
        font-size: 2rem;
        cursor: pointer;
        user-select: none;
    }

    .icon:hover {
        background-color: rgb(209, 205, 205);
        color: black;

        transition: background-color 0.5s;
    }

    header > nav {
        display: none;
    }

    nav > a {
        width: 90vw;
    }
}