@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: rgb(99, 99, 99);
    color: white;
    padding: 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header > h1 {
    border: 1px dotted black;
    flex: 0 0 200px;
}

header > nav {
    color: white;
    border: 1px dotted black;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

nav > a {
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: black;
    text-align: center;
}

nav > a:hover {
    background-color: rgb(209, 205, 205);
    color: black;

    transition: background-color 0.5s;
}

section {
    background-color: rgba(163, 162, 162, 0.527);
    background-image: -webkit-linear-gradient(rgb(99,99,99) 5%, rgba(163, 162, 162, 0.527) 100%);
}

h2 {
    text-align: center;
    padding: 30px 0px 0px ;
    font-weight: bold;
    font-size: 30px;
}

p {
    padding: 10px 10%;
    text-align: justify;
}