@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.icon {
    display: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: rgb(99, 99, 99);
    color: white;
    padding: 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header > h1 {
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.562);
    flex: 0 0 200px;
}

header > nav {
    color: white;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

nav > a {
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: black;
    text-align: center;
}

nav > a:hover {
    background-color: rgb(209, 205, 205);
    color: black;

    transition: background-color 0.5s;
}

section {
    background-color: rgba(163, 162, 162, 0.527);
    background-image: -webkit-linear-gradient(rgb(99,99,99) 5%, white 100%);
}

h2 {
    text-align: center;
    padding: 30px 0px 0px ;
    font-weight: bold;
    font-size: 30px;
}

section > p {
    padding: 10px 10%;
    text-align: justify;
}

footer {
    background-image: linear-gradient(to bottom, white 20%, black 100%);
    height: 157px;
}

footer > p {
    text-align: center;
    letter-spacing: 0.5px;
    padding: 50px 10px 0px;
}

footer > p > a {
    text-decoration: none;
    color: black;
}

footer > p > a:hover {
    text-decoration: underline;
    color: blue;
}