@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header > h1 {
    text-align: center;
    margin: 20px 0;
}

header > p {
    width: 90vw;
    text-align: justify;
    margin: 0 auto 30px auto;
}


