@charset "UTF-8";

/*Estilo geral*/

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: white;
    text-shadow: 2px 2px 0px #1b2ba5;
    padding: 10px;
    text-align: center;
}