@charset  "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

header {
    background-color: gray;
}
header h1 {
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
}

i#burger {
    background-color: #414141;
    color: white;
    text-align: center;
    padding: 10px;
    display: block;
    cursor: pointer;
    transition: 0.3s;
    user-select: none;
}

i#burger:hover {
    background-color: black;
    color: white;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(90, 90, 90);
    color: white;
    text-align: center;
    font-size: 18px;
    border-top: 2px solid gray;
    transition: 0.5s;
    border-radius: 5px;
}

menu > ul > li > a:hover {
    background-color: rgb(63, 63, 63);
}

main {
    width: 90vw;
    margin: auto;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

main > article > h2 {
    padding-bottom: 10px;
    padding-left: 30px;
}

main > article > p {
    text-align: justify;
    padding: 0 30px 10px 30px;
    line-height: 1.1em;
}